#map {
    height: 90vh;
    width: 100%;
}
#searchBar {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.leaflet-tooltip {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.leaflet-popup-tip {
    width: 0px;
    height: 0px;
}